/*baseline*/

html {
  font-size: 18px;
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*HEADER*/

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.top-banner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
}

.company.logo {
  display: flex;
  align-items: center;
}

.company.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.company.logo span {
  font-family: Helvetica;
  font-size: 1rem;
}

.navigation span {
  padding: 1rem 1rem;
  margin-right: 1rem;
}

.navigation-mobile {
  display: none;
}

header .flex {
  display: flex;
  justify-content: flex-end;
}

.main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.main-banner h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

/*CONTENT*/

.product {
  width: 5rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto 3rem;
}

.product img {
  max-width: 5rem;
  height: auto;
}

.product.exam img {
  max-width: 3.5rem;
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

.product div {
  font-family: Helvetica;
}
/*COMPANY INFO*/

.title {
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
}

.title h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
}

.boxes {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  margin-bottom: 5rem;
}

.box.phylosophy {
  margin-right: 10%;
}

p.text {
  font-size: 1rem;
  font-family: Helvetica;
  font-weight: normal;
  margin-top: 1rem;
}

/*FOOTER*/

.footer-logo {
  display: flex;
  align-items: center;
  background-color: azure;
}

.footer-logo img {
  height: 1.5rem;
  padding: 4rem 1.5rem 4rem 4rem;
}

/*1024px*/

@media only screen and (max-width: 1024px) {

  .top-banner {
    position: static;
  }

  header {
    height: 22rem
  }

  .main-banner {
    top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }
}

/*470px*/

@media only screen and (max-width: 470px) {


  .company span {
    display: none;
  }

  .navigation {
    display: none;
  }

  .navigation-mobile {
    display: block;
    padding: 1rem 1rem;
    margin-right: 1rem;
    font-family: Helvetica;
    font-size: 1rem;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .main-banner {
    position: relative;
    top: 9rem;
    width: 100%;
    margin: 0 auto;
  }

  .main-banner h1 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem auto;
  }

  .products {
    display: flex;
    flex-direction: column;
    padding: 3.77rem auto;
  }

  .product {
    margin: 1.54rem auto;
  }

  .product div {
    font-family: Helvetica;
    font-size: .77rem
  }

  .boxes {
    display: flex;
    flex-direction: column;
    }


    .box {
      max-width: 100%;
    }

    .title {
      max-width: 100%;
    }

    .box.phylosophy {
      margin-right: 0;
      margin-bottom: 4rem;
    }

    .box h3 {
      text-align: center;
    }

    footer span {
      display: none;
    }

    .footer-logo {
      justify-content: center;
    }
}
